*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body{
    font-family: "Roboto Slab", sans-serif;
    box-sizing: border-box;
}

:root {
    --border-color: #ddd;
}

.thanhtoan__main{
    padding: 30px 20px;
    margin: 0 60px;
}

.pay__infomation{
    border-top: 2px solid #ddd;
}

.pay__infomation h4{
    font-size: 20px;
    margin-top: 20px;
}

.pay__infomation__fullname{
}

.div__form p{
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 15px;
}
.div__form input{
    width: 100%;
    height: 39px;
    padding: 0 12px;
    outline: none;
    border: 1px solid #ddd;
    box-shadow: inset 0 -1.8em 1em 0 rgb(0 0 0 / 2%);
}

.pay__nation__select{
    width: 100%;
    height: 39px;
    padding: 0 12px;
    outline: none;
    border: 1px solid #ddd;
}

.pay__note textarea{
    border: 1px solid #ddd;
    outline: none;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
}

/* col - 5 */

.column_right{
    display: inline-block;
    margin-top: 20px;
    text-align: right;
}

.column_right--price{
    color: #FFCA44;
}

.column_left{
    text-align: left;
    width: 100px;
}

.your__order__header{
    border: 2px solid #446084;
    padding: 20px;
    font-weight: bold;
    font-size: 17px;
}


.table_header{
    font-size: 14px;
    border-bottom: 2px solid #ddd;
}
.table_header td{
    width: 100%;
}

.table_body{
    width: 100%;
    font-size: 13px;
    border-bottom: 1px solid #ddd;
}
.table_body:last-child{
    border-bottom: 3px solid #ddd;
}

.table_body td{
    width: 200px;
}

.btn-order{
    width: 125px;
    height: 40px;
    background-color: #d26e4b;
    text-align: center;
    margin-top: 20px;
}

.btn-order a{
    color: #fff;
    text-decoration: none;
    line-height: 40px;
}