/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 27, 2022, 9:07:44 AM
    Author     : Tin_Ngo
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body{
    font-family: "Roboto Slab", sans-serif;
    box-sizing: border-box;
}

:root {
    --border-color: #ddd;
}

.thanhtoan__main{
    padding: 30px 20px;
    margin: 0 60px;
}

.pay__infomation{
    border-top: 2px solid #ddd;
}

.pay__infomation h4{
    font-size: 20px;
    margin-top: 20px;
}

.pay__infomation__fullname{
}

.div__form p{
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 15px;
}
.div__form input{
    width: 100%;
    height: 39px;
    padding: 0 12px;
    outline: none;
    border: 1px solid #ddd;
    box-shadow: inset 0 -1.8em 1em 0 rgb(0 0 0 / 2%);
}

.pay__nation__select{
    width: 100%;
    height: 39px;
    padding: 0 12px;
    outline: none;
    border: 1px solid #ddd;
}

.pay__note textarea{
    border: 1px solid #ddd;
    outline: none;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
}

/* col - 5 */

.column_right{
    display: inline-block;
    margin-top: 20px;
    text-align: right;
}

.column_right--price{
    color: #FFCA44;
}

.column_left{
    text-align: left;
    width: 100px;
}

.your__order__header{
    border-left: 2px solid #ddd;
    padding: 20px;
    font-weight: bold;
    font-size: 17px;
}


.table_header{
    font-size: 14px;
    border-bottom: 2px solid #ddd;
}
.table_header td{
    width: 100%;
}

.table_body{
    width: 100%;
    font-size: 13px;
    border-bottom: 1px solid #ddd;
}
.table_body:last-child{
    border-bottom: 3px solid #ddd;
}

.table_body td{
    width: 200px;
}

.information_history{
    font-weight: 600;
}
.information_history--price{
    color: #ffca44;
}

.information_history__a{
    text-decoration: none;
    color: #000;
    font-style: italic;
}


/* giao diện giao hàng */

.card-stepper {
    z-index: 0
}

#progressbar-2 {
color: #455A64;
}

#progressbar-2 li {
list-style-type: none;
font-size: 13px;
width: 33.33%;
float: left;
position: relative;
}

#progressbar-2 #step1:before {
content: '\f058';
font-family: "Font Awesome 5 Free";
color: #fff;
width: 37px;
margin-left: 0px;
padding-left: 0px;
}

#progressbar-2 #step2:before {
content: '\f058';
font-family: "Font Awesome 5 Free";
color: #fff;
width: 37px;
}

#progressbar-2 #step3:before {
content: '\f058';
font-family: "Font Awesome 5 Free";
color: #fff;
width: 37px;
margin-right: 0;
text-align: center;
}

#progressbar-2 #step4:before {
content: '\f058';
font-family: "Font Awesome 5 Free";
color: #fff;
width: 37px;
margin-right: 0;
text-align: center;
}

#progressbar-2 li:before {
line-height: 37px;
display: block;
font-size: 12px;
background: #c5cae9;
border-radius: 50%;
}

#progressbar-2 li:after {
content: '';
width: 100%;
height: 10px;
background: #c5cae9;
position: absolute;
left: 0%;
right: 0%;
top: 15px;
z-index: -1;
}

#progressbar-2 li:nth-child(1):after {
left: 1%;
width: 100%
}

#progressbar-2 li:nth-child(2):after {
left: 1%;
width: 100%;
}

#progressbar-2 li:nth-child(3):after {
left: 1%;
width: 100%;
}

#progressbar-2 li:nth-child(4) {
left: 0;
width: 37px;
}

#progressbar-2 li:nth-child(4):after {
left: 0;
width: 0;
}

#progressbar-2 li.active:before,
#progressbar-2 li.active:after {
background: #6520ff;
}

/* */
.opacity_important{
    opacity: 0.9 !important;
    right: 0;
    top: 0;
}

.abc{
    height: 50%;
}

.abc_1{
    background-color: #fff;
    position: absolute;
    width: calc(87%);
}
.abc_2{
    background-color: #fff;
    position: absolute;
    width: calc(60%);
}
.abc_3{
    background-color: #fff;
    position: absolute;
    width: calc(30%);
}
.abc_4{
    background-color: #fff;
    position: absolute;
    width: calc(0);
}